*{
    box-sizing: border-box;
}

body{
    background-color: #f0dec6;
}

body, ul{
    margin:0;
    padding: 0;
}

.main_list{
    width: 300px;
    margin:100px auto;
    
}

.main_list ul li{
    list-style: none;
    padding: 15px;
    /*border: 1px solid;*/
    cursor: move;
    background-color: #fff;
    color: #464637;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    
}